#div1 {height:300px;width:1000px;background-color: aquamarine}
#div2 {height:600px;width:1000px;background-color:darkgray}
h1 {padding-top: 90px;padding-left:70px;font-size: 70px;font-family: cursive}
#button { color: aquamarine}